.GameBoardModal {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180%;
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.GameBoardModal p {
    color: rgba(255,255,255, 0.7);
    position: relative;
    bottom: 20px;
    font-size: 180%;
}