.GameBoardModal {
    height: 110%;
    width: 120%;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 180%;
    z-index: 999;
    position: absolute;
}