.UserCard {
    width: 16%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ED7D54;
    border-radius: 10px;
}

.UserCard p {
    height: 120px;
    width: 140px;
    border-radius: 50%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ED7D54;
    background-color: #FCEFD3;
}

.UserCard h4 {
    color: #FCEFD3;
}