.LoginPage {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.LoginPage .fp-letter-container {
    margin: 40px 0;
}

.LoginPage .fp-letter-container .first-last {
    background-color: #20B279;
}

.LoginPage input {
    height: 40px;
    width: 220px;
    font-size: 130%;
    margin: 8px 0;
}