

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
}

header {
  background-color: #FCEFD3;
  width: 240px;
  height: 60px;
  margin: 20px auto 0; 
  border-radius: 10px;
  border-bottom: 4px solid #EDA754;
  color: #ED7D54;
  font-size: 200%;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* teal: #20B279 */
/* tan: #FCEFD3 */
/* dark orange: #ED7D54 */
/* background: #FFE09D */