.GameBoard {
    height: 40vh;
    width: 96%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.GameBoard input {
    height: 30px;
    width: 200px;
    text-align: center;
    position: relative;
    top: 40px;
    background-color: #ED7D54;
    color: #FCEFD3;
    font-size: 180%;
    visibility: hidden;
}

.GameBoard .fp-letter-container {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
