.WaitingPage {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.WaitingPage .gameCode {
    background-color: #FCEFD3;
    padding: 20px;
    color: #20B279;
    font-weight: 700;
    font-size: 200%;
    border-radius: 10px;
    margin: 60px 0;
}

.WaitingPage .game-text {
    color: #ED7D54;
    font-size: 120%;
    font-weight: 700;
}

.WaitingPage .cancel {
    position: relative;
    top: 30px;
    background-color: #ED7D54;
    color: #FCEFD3;
}

.WaitingPage .links {
    background-color: #FCEFD3;
    width: 240px;
    height: 60px;
    margin: 20px auto 0; 
    border-radius: 10px;
    border-bottom: 4px solid #EDA754;
    color: #ED7D54;
    font-size: 200%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}