.FrontPage {
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin: 0 auto;
}

.FrontPage .fp-letter-container {
    display: flex;
    justify-content: center;
}

.FrontPage .links {
    background-color: #FCEFD3;
    width: 240px;
    height: 60px;
    margin: 20px auto 0; 
    border-radius: 10px;
    border-bottom: 4px solid #EDA754;
    color: #ED7D54;
    font-size: 200%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FrontPage .login {
    background-color: #20B279;
}

.FrontPage .signup {
    background-color: #ED7D54;
}

.FrontPage a {
    text-decoration: none;
    color: #FCEFD3;
}

.FrontPage .logout {
    background-color: #ED7D54;
}

.FrontPage .join-game {
    background-color: #20B279;
}

.FrontPage .create-game {
    background-color: #20B279;
    color: #FCEFD3;
}
