.GameResultsPage {
    height: 60vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.GameResultsPage .winner {
    padding: 20px;
    border-radius: 10px;
    background-color: #FCEFD3;
}

.GameResultsPage .winner p {
    font-size: 320%;
    color: #20B279;
}