.GameResultsPage {
    height: 60vh;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
}

.GameResultsPage .winner {
    padding: 20px;
    border-radius: 10px;
    background-color: #FCEFD3;
}

.GameResultsPage .winner p {
    font-size: 320%;
    color: #20B279;
}

.GameResultsPage .links {
    background-color: #FCEFD3;
    width: 240px;
    height: 60px;
    margin: 20px auto 0; 
    border-radius: 10px;
    border-bottom: 4px solid #EDA754;
    color: #ED7D54;
    font-size: 200%;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameResultsPage .play-again {
    background-color: #20B279;
    color: #FCEFD3;
}